body {
    background: url("../images/mtrainier.jpg") no-repeat center center fixed;
    background-size: cover;
}

.logo-container {
    position: relative;
}

.nat-park-image {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -40%;
    margin-top: -40%;
}

.hangman-image {
    position: absolute;
    top: 0;
}