/* Sets the background image of the body. */
body {
    background: url("../images/mtrainier.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Sets a background color to a slightly opaque white. */
.opaque-background {
    background: rgba(248, 249, 250, 0.65);
}

/* Sets the style of the logo image so it centers nicely. */
#logo-container {
    text-align: center; 
    min-height: 100%; 
    height: 100%;
}